.direnv/
**/intervals_api_key
**/__pycache__/
result
.mypy_cache
.pytest_cache
**/*.fit
**/*.gpx
**/*.tcx
**/out.txt
**/*.csv
**/.coverage
**/coverage*
**/.vscode

**/node_modules
**/dist
**/build
**/tmp
**/out-tsc
**/bazel-out
**/npm-debug.log
**/yarn-error.log

**/.angular/cache
**.sass-cache/
**/connect.lock
**/coverage
**/libpeerconnection.log
**/testem.log
**/typings
